.titulo-home {
  color: purple;
  font-size: 55px;
}

.tres-coisas-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  
  .ola-mundo {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .lado-a-lado {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pesquisa-input-submit {
    border-radius: 4px;
    border-color: blue;
    color: aliceblue;
    background-color: blue;
    cursor: pointer;
  }
  .home-organizada {
    display: flex;
    flex-direction: column;
  }

  .ver-anuncios {
    background-color: rgb(245, 245, 245);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 240px;
    margin: 0;
  }