h1 {
    color: purple;
}

.pesquisa-input-submit {
    border-radius: 4px;
    border-color: blue;
    color: aliceblue;
    background-color: blue;
    cursor: pointer;
}
 .img-logo {
    margin-left: 40px;
 }


.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    max-width: 1000px;
    height: 70%;
    max-height: 800px;
    background-color: rgb(243, 233, 233);
    padding: 10px;
    border-radius: 5px;
}

.modal-overlay {

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-fechar {
    border-radius: 15px;
    padding: 5px;
    font-size: large;
    float: right;
    cursor: pointer;
  }
    .tres-coisas-in {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
  .ola-mundo {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
  }
  .lado-a-lado {
    display: flex;
    align-items: center;
    justify-content: center;
  }

