
.img-logo {
  margin-left: 40px;
}


.modal-content-alugar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  max-width: 1000px;
  height: 70%;
  max-height: 800px;
  background-color: rgb(243, 233, 233);
  padding: 10px;
  border-radius: 5px;
}
.modal-content-anunciar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  max-width: 1000px;
  height: 70%;
  max-height: 800px;
  background-color: rgb(243, 233, 233);
  padding: 10px;
  border-radius: 5px;
}
.modal-content-entrar {
  width: 35%;
  max-width: 400px;
  height: 70%;
  max-height: 600px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #DCDCDC;

  @media (min-width: 768px) {
    width: 540px;
    max-width: unset;
  }
}
.div-modal-entrar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-content-cadastrar {
  width: 35%;
  max-width: 400px;
  height: 70%;
  max-height: 600px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #DCDCDC;
}

.modal-overlay {

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  padding: 10px 40px;
}

.button-fechar {
  border-style: none;
  color: whitesmoke;
  background-color: #808080;
  border-radius: 50%;
  font-size: large;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
